<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>flipcart</display-name>
  <welcome-file-list>
    <welcome-file>UserLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.sarvah.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.sarvah.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginCheck</display-name>
    <servlet-name>AdminLoginCheck</servlet-name>
    <servlet-class>com.sarvah.controller.AdminLoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginCheck</servlet-name>
    <url-pattern>/AdminLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartController</display-name>
    <servlet-name>CartController</servlet-name>
    <servlet-class>com.sarvah.controller.CartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartController</servlet-name>
    <url-pattern>/CartController</url-pattern>
  </servlet-mapping>
</web-app>